body { 
	margin:0;	
}
A:hover {
	text-decoration: underline; color:red;
}

#box{
	border: 2px solid gold;
	background: #f2f0fd;
	#background: #000011;
	padding: 10px;
}
.right{
	margin-right: -100;
}
.left{
	margin-left: -100;
}
#line { 	
	width: 100%;	
	background: url("../images/CelticKnot.JPG") repeat-x; 
	height: 31px;
	z-index: 2;
}
#content {
	
	#margin: 100;
	margin-top:0;
        	float: center;
	#background-color:   #ffffee;
        	#border: 3px solid darkred;
        	padding: 25px;
        	width: 500px;
	margin-left: auto ;
  	margin-right: auto ;
}
h1 { 
text-align: center;
}
#banner {	
  	position: relative;
  	top: -50;
  	left: 0;
  	width: 100%;
	background-color: darkred; 	
	height: 80px;
	z-index: 1;
	color: white
}

#columns {
}


div#greenbox {
	background-color:green;
	opacity:.5;
	width:500px;
	color: white; 
	font-weight: bold; 
	font-size: 20px;
}



      
div#textbody {
          padding-right:        25px;
          padding-left:         25px;
	  background:		"field.jpg"
      }
     
div.floated {
  width: 400px;
  float: left;
  margin-left: 1px;
}
ul {

margin:0;
padding:0;
overflow:hidden;
}
li {

width: 100%;
background: lightgreen;
color: darkblue;
font-family: arial;
display:block;
text-align:left;


}
li:hover{background:blue; color: white}
.myMenu {
  float: left;
  height: 20px;
  overflow: hidden;
  background-color: lightgreen;
 
  }
div#menus {
width: 100%;
   position:fixed;
   top:60px;
  z-index:100;
}
div#menus.myMenu {
  float: left;
  width: 200px;
  display: block;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  border: 1px solid blue;
   z-index:101;
}

#menus.myMenu span, #menus.myMenu a {
  display: block;
  padding: 0 0px;
}


div#menus.myMenu a:hover {
 
  
}

a:link,a:visited
{


font-weight:bold;
color:darkblue;
background-color:lightblue;
text-align:center;
padding:0px;
text-decoration:none;
text-transform:uppercase;
}
a:visited
{
color:darkblue;
}
a:hover{background:red; color: white;}
body {
font-family: arial;
font-size: 12px;
line-height: 20px;
color: darkblue;
height:750px;
}


.def{
display: none;
border: 10px solid #99ccc9;
background: lightblue;
width: 50%;
color:black;
font-size: 10;
font-family: arial;
font-weight: bold;
float: left;
margin-left: -100px;
}
.rightOLD{
border: 10px solid white;
background: white;
width: 50%;
color:blue;
font-size: 10;
font-family: arial;
font-weight: bold;
float: right;
margin-right: 0px;
}

div#page {
width: 200px;
background: #ffee8a;
position: fixed;
top: 200px;
left: 0px;
text-align: center;
}

.twitterbird {
background: green url(images/twitter.jpg) no-repeat top right;
display: block;
 width: 50px;
 height:50px;

}

.twitterbird.hover {
  background: url(images/twitter_h.jpg) no-repeat top right;
display: block;
 width: 50px;
 height:50px;
}
   